.text_input {
  @apply w-full;

  label {
    @apply block text-sm mb-1 text-slate-500;
  }

  input {
    @apply block px-2 rounded w-full;
  }
}

.date_input {
  @apply w-full;

  label {
    @apply block text-sm mb-1 text-slate-500;
  }

  input {
    @apply block px-2 py-0 pt-0.5 rounded w-full h-[32px];
  }
}

.select_input {
  @apply w-full;

  label {
    @apply block text-sm mb-1 text-slate-500;
  }

  input {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;

    option {
      @apply first-letter:capitalize;
    }
  }
}

.checkbox_input {
  @apply space-x-3 flex items-center;

  input {
    @apply w-4 h-4 text-eggplant bg-slate-100 border-slate-300 rounded-sm;
    @apply focus:ring-eggplant focus:ring-2;
  }

  label {
    @apply block text-sm cursor-pointer;
  }

  .text {
    @apply text-xs text-slate-500;
  }
}
